<div class="container">
    <div class="row">
        <img id="burger-pic" src="assets/images/burgerpic.png">
        <h1 id="title">Eat-Da-Burger!</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Burger List</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Eaten Burger List</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <div class="input-group-prepend">
                {{!-- <span class="input-group-text">With textarea</span> --}}
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>


        <button type="button" class="btn btn-primary">Submit</button>

        <h5>Enter a burger you want to eat click the "Submit" button</h5>
    </div>
</div>
</div>